@use '@/styles/breakpoint';
@use '@/styles/color';
@use '@/styles/size';

.fields {
    padding: 0;
    border: none;
    display: grid;
    grid-template-columns: 1fr;
    gap: size.$spacing-small;

    @media (min-width: breakpoint.$desktop) {
        grid-template-columns: 1fr 1fr;
    }

    label {
        margin: size.$spacing-small 0;
    }
}

.textBox {
    padding: size.$spacing-small;
    background-color: color.$background;
    border-radius: size.$border-radius-medium;
    border: 1px solid color.$lines;
    width: 100%;
    text-overflow: ellipsis;

    &:focus {
        outline: color.$text-primary solid 2px;
    }

    &:disabled {
        border: none;
    }

    @media (min-width: breakpoint.$desktop) {
        padding: size.$spacing-medium;
    }
}

.indent {
    margin-left: size.$spacing-medium;
}

.keyButton {
    padding: 0;
    color: color.$link;

    &:hover {
        text-decoration: underline;
    }

    &:disabled {
        color: color.$text-primary;
        text-decoration: none;
        cursor: default;
    }
}
